body {
	background-color: #fcc7cd;
}


:root {
  font-size: calc(1vw + 1vh + 1.5vmin);
}




.neon {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #ff0081,
    0 0 80px #ff0081,
    0 0 90px #ff0081,
    0 0 100px #ff0081,
    0 0 150px #ff0081;
    font-weight: 300;
    text-align: center;
    padding-top: 30px;
    

    text-align: center;
	
	font-size:30px;
	color:#ef6485;
	text-decoration: none;
	color:white;
  font-style: italic;
  
}

.titleneon:hover, .titleneon:visited, .titleneon:link, .titleneon:active
{
    text-decoration: none;
    color:white;
}

.titleneon {
	color:white;
	text-decoration: none;
}

@import url(https://fonts.googleapis.com/css?family=Lato);
/*
body {
  padding: 1em;
  font-family: 'Lato', sans-serif;
  background: #fcc7cd;
}
*/

.shimmer {
  display: inline-block;
  color:white;
  
  background: #ef6485 -webkit-gradient(linear, 100% 0, 0 0, from(#ef6485), color-stop(0.5, #ffffff), to(#ef6485));
  
  background-position: -12rem top; /*50px*/
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: shimmer;
  -webkit-animation-duration: 2.2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-background-size: 12rem 100%; /*50px*/
  font-size: 70px;
  font-style: italic;
  font-family: 'Oleo Script Swash Caps', cursive;
}

@-webkit-keyframes shimmer {
    0% {
        background-position: -12rem top; /*50px*/
    }

    70% {
        background-position: 18rem top; /*200px*/
    }

    100% {
        background-position: 18rem top; /*200px*/
    }
}





.landfills{
  padding-top:80px;
}


.anchovyvideo{
  padding-top:100px;
  padding-left:-200px;
 
}

.interview1 {
  padding-left:30px;
  padding-top:80px;
  color:#ef6485;
  
}

.interview2{
  color:#ef6485;
  padding-left:30px;
  padding-top:80px;
}

.anchovygif2{
  padding-top:100px;
  padding-bottom:80px;
}
